body {
  display: flex;
  justify-content: flex-start;
  padding:10px;
}
.heading{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;

}
a {
  color: green;
  text-decoration: none;

}
.b{
  color: black;
  font-weight: bold;
  white-space: nowrap;
  display:inline;
}
.black{
  display:inline;
  color: black;
}
.bc{
background-color:#f1f7fd;
line-height: 1.7;

}
.p2{
  background-color:#f1f7fd;
  padding-top: 15px;
  padding-bottom: 8px;
  line-height:1.599;
  
}
@media (max-width: 375px) {
  body {
    width: 70%;
    height: 1;
    
    
  }
  
  
}
.p3{
  background-color:#f1f7fd;
margin-top: 100px;
  padding-bottom: 8px;
  line-height:1.599;
}
.yo{
 
  background-color: white !important;
  display: inline;
  line-height:2;

}
.blue{
  color: #2f7cc1;
  text-decoration: none;
  display: inline;
}


